<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @await Html.PartialAsync("NotificationPartial")
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>