@model Note
@{
    ViewData["Title"] = "Новая заметка";
}

<script src="../js/ckeditor/ckeditor.js"></script>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-muted">Новая заметка</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        @*@if (Model != null)
        {
            <div class="mb-3">
                <label asp-for="Links"></label>
                <select multiple asp-for="Links" class="form-control">

                    foreach(var item in Model)
                    {
                    <option>
                        item.Name
                    </option>
                    }

                </select>

                <span asp-validation-for="Links"></span>
            </div>
        }*@

        <button type="submit" class="btn btn-primary" asp-controller="Note" asp-action="Create">Добавить</button>
        <a asp-controller="Note" asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>

<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Content)');
        newCKEdit.updateElement();
    }
</script>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}


